In [1]:
my_tuple = (1, 2.6, 3+5j, True, False, "Abhishek")

In [3]:
print(my_tuple)

(1, 2.6, (3+5j), True, False, 'Abhishek')

In [8]:
# duplicates allowed
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [9]:
len(my_tuple)

6

In [12]:
# creating a tuple with one item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [13]:
# tuple()
thistuple = tuple(["apple", "banana", "cherry"]) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [18]:
# changing the item
x = ("apple", "banana", "cherry")
print(x)

# type conversion or type casting
y = list(x)  # list() method
print(y)
y[2] = "kiwi"
x = tuple(y) # tuple() method

print(x)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry']
('apple', 'banana', 'kiwi')

In [19]:
fruits = ("apple", "banana", "cherry") # Packing a tuple

(green, yellow, red) = fruits # unpacking a tuple

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [22]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [23]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [24]:
# interview -- > Exchange the value of two variables without creating a third one.

a = 5
b = 10

print("a:",a)
print("b:",b)

a: 5
b: 10

In [25]:
a,b = b,a
print("a:",a)
print("b:",b)

a: 10
b: 5

In [7]:
print("Saurabh")

Saurabh